
/* Reset CSS */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}


mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}


hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Logo style*/

header {
  background-color: #282828;
  padding: 20px
}

.logo {
  font: 5em 'Arial Narrow', sans-serif;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.logo span {
  position: relative;
  display: inline-block;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 20px;
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}

.logo .word1 {
  color: #00dcd5;
  display: inline-block;
  z-index: 10;
}
.logo .word1:before, .logo .word2:before {
  right: -4px;
  top: 12px;
  border-top-color: #282828;
  border-right-color: #282828;
}
.logo .word1:after, .logo .word2:after {
  left: 2px;
  bottom: 6px;
  border-bottom-color: #282828;
  border-left-color: #282828;
}

.logo .word2 {
  z-index: 0;
  padding: 0 8px;
  font-size: 0.8em
}

/*Links style*/

@keyframes backgroundGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes loadBounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

a {
  transition: all 1s linear;
  display: inline-block;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(to right, #00d1b1 0%, #278fc6 98%);
  background-size: 0px 2px;
  background-repeat: no-repeat;
  background-position: left 85%;
  padding-bottom: 8px;
  margin: 10px 10px 5px;
}
a:hover {
  background-size: 100% 2px;
  text-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.5);
}
